<h5 class="mb-5 text-lg font-bold tracking-tight text-gray-900 dark:text-white">Ingresar datos</h5>
<form [formGroup]="dataForm" class="w-full" (ngSubmit)="onSubmit()">
    <div class="grid grid-cols-1 md:grid-cols-1  gap-4 mb-4">
        <div class="relative mt-6 flex items-center">
            <textarea name="nombre" id="nombre" placeholder="Nombre" formControlName="nombre"
            class="peer mt-1 w-96 border-b-2 border-gray-300 px-2 py-1.5 bg-gray-100 placeholder:text-transparent focus:border-gray-500 focus:outline-none focus:bg-white rounded-md text-sm"
                autocomplete="NA"
                [ngClass]="{'border-red-500': dataForm.get('nombre')?.hasError('required') && dataForm.get('nombre')?.touched}"
                rows="1"
                (input)="autoExpand($event)"></textarea>
            <label for="nombre"
                class="pointer-events-none absolute top-0 left-0 origin-left -translate-y-1/2 transform text-sm text-gray-800 opacity-75 transition-all duration-100 ease-in-out peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:top-0 peer-focus:pl-0 peer-focus:text-sm peer-focus:text-gray-800">Nombre</label>
            <div *ngIf="dataForm.get('nombre')?.hasError('required') && dataForm.get('nombre')?.touched"
                class="absolute -right-4 text-red-500">
                *
            </div>
        </div>
   
        <div class="relative mt-6 flex items-center">
            <input type="text" name="actividad" id="actividad" placeholder="Actividad" formControlName="actividad"
                class="peer mt-1 w-full border-b-2 border-gray-300 px-2 py-1.5 bg-gray-100 placeholder:text-transparent focus:border-gray-500 focus:outline-none focus:bg-white rounded-md text-sm"
                autocomplete="NA"
                [ngClass]="{'border-red-500': dataForm.get('actividad')?.hasError('required') && dataForm.get('actividad')?.touched}" />
            <label for="nombre"
                class="pointer-events-none absolute top-0 left-0 origin-left -translate-y-1/2 transform text-sm text-gray-800 opacity-75 transition-all duration-100 ease-in-out peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:top-0 peer-focus:pl-0 peer-focus:text-sm peer-focus:text-gray-800">Actividad</label>
            <div *ngIf="dataForm.get('actividad')?.hasError('required') && dataForm.get('actividad')?.touched"
                class="absolute -right-4 text-red-500">
                *
            </div>
        </div>
    </div>
    <div class="my-5">
        <button type="submit"
            class="text-white bg-blue-600 hover:bg-blue-700 font-medium rounded-lg w-full sm:w-auto px-5 py-2.5 text-center">Submit</button>
        <button type="button" (click)="onClose()"
            class="text-white ms-2 bg-gray-700 hover:bg-gray-800 font-medium rounded-lg w-full sm:w-auto px-5 py-2.5 text-center">Cancel</button>
    </div>
</form>