<div class="relative h-screen bg-cover bg-center bg-[url('/assets/Swisscontac.jpeg')] flex items-center justify-center">
    <!-- Superposición para mejorar la legibilidad del texto -->
    <div class="absolute inset-0 bg-black bg-opacity-40"></div>

    <!-- Contenedor del formulario de inicio de sesión con fondo blanco transparente -->
    <div
        class="relative mx-auto w-full max-w-md bg-white bg-opacity-80 px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:rounded-xl sm:px-10 z-10">
        <div class="w-full">
            <div class="text-center">
                <h1 class="text-3xl font-semibold text-gray-900">Iniciar sesión</h1>
                <p class="mt-2 text-gray-500">Inicia sesión a continuación para acceder a la Herramienta</p>
            </div>
            <div class="mt-5">
                <form [formGroup]="dataForm" class="w-full" (ngSubmit)="onSubmit()">
                    <div class="relative mt-6 flex items-center">
                        <input type="email" name="email" id="correo" placeholder="Email Address"
                            formControlName="correo"
                            class="peer mt-1 w-full border-b-2 border-gray-300 px-0 py-1 placeholder:text-transparent focus:border-gray-500 focus:outline-none"
                            autocomplete="NA" />
                        <label for="email"
                            class="pointer-events-none absolute top-0 left-0 origin-left -translate-y-1/2 transform text-sm text-gray-800 opacity-75 transition-all duration-100 ease-in-out peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:top-0 peer-focus:pl-0 peer-focus:text-sm peer-focus:text-gray-800">Email</label>
                        <!-- Contenedor para el asterisco de error -->
                        <div *ngIf="dataForm.get('correo')?.hasError('required') && dataForm.get('correo')?.touched"
                             class="ml-2 text-red-500">
                            *
                        </div>
                    </div>
                    <div class="relative mt-6 flex items-center" >
                        <input type="password" name="password" id="contraseña" placeholder="Password"
                            formControlName="contraseña"
                            class="peer mt-1 w-full border-b-2 border-gray-300 px-0 py-1 placeholder:text-transparent focus:border-gray-500 focus:outline-none" />
                        <label for="password"
                            class="pointer-events-none absolute top-0 left-0 origin-left -translate-y-1/2 transform text-sm text-gray-800 opacity-75 transition-all duration-100 ease-in-out peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:top-0 peer-focus:pl-0 peer-focus:text-sm peer-focus:text-gray-800">Password</label>
                        <div *ngIf="dataForm.get('contraseña')?.hasError('required') && dataForm.get('contraseña')?.touched"
                         class="ml-2 text-red-500">*</div>
                        
                    </div>

                    <div class="my-6">
                        <button type="submit"
                            class="w-full rounded-md bg-blue-800 px-3 py-4 text-white hover:bg-blue-600 focus:bg-blue-700 focus:outline-none">
                            Log in
                        </button>
                    </div>
                    <p class="text-center text-sm text-gray-500">Aún no tienes una cuenta?
                        <a href="#!"
                            class="font-semibold text-gray-600 hover:underline focus:text-gray-800 focus:outline-none">Crear
                            una</a>.
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>