<div class="relative h-screen bg-cover bg-center bg-fixed flex items-center justify-center text-center text-white px-8 md:px-4">
    <!-- Superposición de fondo semi-transparente -->
    <div class="absolute inset-0 bg-black bg-opacity-50"></div>
    
    <!-- Contenedor de contenido -->
    <div class="relative z-10 bg-black bg-opacity-50 p-6 rounded-lg max-w-2xl">
        <h2 class="text-3xl font-bold mb-4 md:text-2xl sm:text-xl">Bienvenido a nuestra aplicación</h2>
        <p class="text-lg md:text-base sm:text-sm">Herramienta MRV (Medición, Reporte y Verificación)</p>
        <p class="text-lg md:text-base sm:text-sm">¡Bievenido! Con esta herramienta podrás calcular el ahorro de energia y la reducción de emisiones de CO2eq generados por la implementación del activo definido por la medida.</p>
    </div>
    
    <!-- Imagen de fondo -->
    <div class="absolute inset-0 bg-cover bg-center bg-fixed bg-[url('/assets/Swisscontac.jpeg')]"></div>
</div>



